<?xml version='1.0' encoding='utf-8'?>
<widget id="com.esp32.servocontrol" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>ESP32 Servo Control</name>
    <description>Control your ESP32 servo motor from anywhere using Firebase</description>
    <author email="your@email.com" href="https://yourwebsite.com">Your Name</author>
    <content src="index.html" />
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    
    <preference name="DisallowOverscroll" value="true" />
    <preference name="Orientation" value="portrait" />
    
    <platform name="android">
        <allow-intent href="market:*" />
    </platform>
</widget>
